.nav-list {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: 1;
  width: 100%;
}

.nav-list > li {
  display: flex;
  flex: 1;
  padding: 0 0.42rem;
  justify-content: center;
  align-items: center;
  background: var(--green-dark);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  cursor: pointer;
  height: var(--nav-height);
  border-left: 0;
  color: var(--olive);
}

.nav-list > li:nth-child(5) {
  border-right: none;
}

.mood-list,
.genres-list {
  opacity: 1;
  position: absolute;
  text-transform: uppercase;
  justify-content: space-between;
  visibility: hidden;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.2rem;
  row-gap: 0.1rem;
  line-height: normal;
  border-bottom: 2px solid black;
  padding: 0.5rem;
  background: var(--green-dark);
  min-height: var(--nav-height);
  z-index: -1;
  transition: all 0.1s;
  color: var(--olive);
}

.genres-list:last-child {
  justify-self: right;
}

.active {
  visibility: visible;
}

.genres-list > li {
  display: flex;
  align-items: center;
}

.genres-list {
  justify-content: space-between;
}

.mood-item,
.genres-item,
.shows-item {
  position: relative;
}

.mood-item {
  order: 4;
}

.genres-item {
  order: 5;
}

@media screen and (min-width: 290px) {
  .mood-list,
  .genres-list {
    display: grid;
    grid-template-columns: repeat(2, min-content);
  }
}

@media screen and (min-width: 768px) {
  .mood-list,
  .genres-list {
    padding: 0.5rem 1.2rem;
    grid-template-columns: repeat(4, min-content);
  }

  .nav-list > li:nth-child(5) {
    border-right: 2px solid black;
  }

  .nav-list li:last-child {
    border-right: none;
  }

  .mood-item {
    order: 3;
  }

  .genres-item {
    order: 4;
  }

  .nav-list > li:hover {
    color: var(--green-dark);
    width: fit-content;
    background: var(--olive);
    transition: cubic-bezier(0.4, 0, 0.2, 1) 75ms;
  }

  .mood-item:hover + .mood-list,
  .genres-item:hover + .genres-list {
    visibility: visible;
  }

  .nav-list > li {
    flex: 1;
  }

  .mood-list > ul > li > a:hover,
  .genres-list > ul > li > a:hover {
    background-color: var(--olive);
    color: var(--green-dark);
  }

  .genres-list > li {
    flex: 1 0 21%;

    max-width: 23.1%;
  }
}

@media screen and (min-width: 1024px) {
  .mood-list,
  .genres-list {
    padding: 0.5rem 1.8rem;
  }
}
